{% extends 'base.html' %}
{% block content %}
    <center>
        <h1>
            REGLAS
        </h1>
    </center>
    <h3>
        Regla de conexión:
    </h3>
    <p>
        En todos los casos que se conecten algún elemento con otro o con alguna flecha, se debe conectar correctamente, no se puede dejar sólo la conexión visible.
        Para comprobar, cada elemento debe verse así al seleccionar las  flechas que le entran o salen.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/QM-PKMacaQmYgr5xws3BdBckio2iBeaBZxMESqCVjjX_ndHUQ4eWrRvzs5Fp2ZkloTX-THQHfj7fqiu6O829FG31hWT1yOQjLzdHP2PHvDPFPjw0vHVqGPekiKgu1_j4D2alKK4r">
    <h3>
        Regla de herencia (opcional, meramente visual):
    </h3>
    <p>
        En algunos conceptos similares se implementará algo parecido a la herencia de una clase  abstracta, el formato que usaremos es el siguiente:
        La clase abstracta irá en un cuadro punteado (como las notas) y de ahí saldrá una línea hacia los conceptos similares.
        Esto no tiene implementación real en el código, sirve más para organizar estéticamente el modelo.
    </p>
    <img class="mx-auto d-block" src="https://lh3.googleusercontent.com/Nocixg2n9ZGVDdNeRIk15M7QSRXJkThgeDvOuMluTbOXM-NV7OpLVWjQ1QXcgHfnw409wAi7qtCpWU7I1zBQJ0geaGI9sZQ1ZN7YA2Afv_LpwNQh2NZfDOaBoUJdosyOCBny1UMl">
    <h3>
        Regla de flujo:
    </h3>
    <p>
        El diagrama completo respeta un flujo. Para tener un Formulario, una Tabla o un Botón  se debe tener una Vista, cuando un Botón se conecta a una Vista, la flecha que los une debe de estar en la dirección Botón→ Vista
    </p>
    <h3>
         Eventos:
    </h3>
    <p>
        Los eventos se crean al conectar los elementos ‘BOTON’ a otro elemento. Para estos se debe respetar el flujo que tiene la flecha, es decir, la punta termina donde llega el evento. En el caso de que haya un botón que lleve a otra vista, se denotará con un cuadrado que comience con la palabra ‘BOTON’ seguido del texto que irá dentro de este, y con una flecha se denota la vista a la que lleva.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/6iGRyfR_iMfYLbP9LQNmxzttYNlWRaon2ZUM6vKOJk0HB4zoZ3vXgE5Q447D36TRLLZL9_bIQ-A8vPmN4TRyzyNqXG8thOHUFiU7EpZitS2DKn6OzZS3KlN0oUEMA98QkwzcGk4d">
    <h3>
        Relación ‘tiene’:
    </h3>
    <p>
        Esta se denota como un óvalo de línea continua al que le entran flechas y le salen flechas, esta se usa como intersección para explicar la relación que tiene un elemento con otros.
        Esta relación al ser usada siempre debe tener un flujo que entra y n flujos que salen (n mayor a 0).
    </p>
    <img class="mx-auto d-block" src="https://lh4.googleusercontent.com/-VpPu__xnQoLYui-wAEvQT4VPjVKMePhHQaj3fYpyYvsO4Xry_mD_vzdeVfGTTTi6znF3ZIyILq_yzXJ0MZZnWi84eTjXRE5ZMkdo2Sdwb3DJRDWZ05gB-37rPTv2RaAJS1xxdos">

    <h2>REGLAS PARA CADA ELEMENTO:</h2>
    <h3>
        VISTAS:
    </h3>
    <p>
        Las vistas se definen con la palabra ‘VISTA’ seguido del nombre de la vista dentro de un rectángulo de línea continua. Para denotar lo que tiene se conecta a un óvalo con la palabra ‘tiene’ y se conectan las flechas a los elementos.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/HFaJ8-Ab2zwO8zRx4r6wUv2oSJuNbcKho9iIAuLZbbJx_K5ptEvIaqCOP5tVhW9QbWwhGs0AtwedU6gD2kApmdyREKqX1VD-qBk94DChlnmfwT9fknpaECU9DHCyGEjwbJe-M_Pg">
    <h3>
        BOTONES:
    </h3>
    <p>
        Los botones se denotan con la palabra ‘BOTON’ seguida del nombre dentro de un rectángulo de línea continua.

        Hay dos tipos de botones dependiendo de su funcionalidad. Los que llevan a vistas y los que tienen funciones específicas.
    </p>
    <p>
        - Los botones que llevan a otra vista se deben conectar usando una flecha que va desde el botón directamente a la vista.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/wBVZ0Q39hq-Q7fKQfPV-rDq7fUnMXJ9K_T_VxxYyVh3cy-ZtlnnV3ePmfK0NkD5ct5abpALPdWcd7LVsvzjbp-n2NWg1C0pJX_6tp1ZdZBWyJwmRX0tTZlZahT4H_NAMGW8jQA7P">
    <p>
        - Los botones que tienen funcionalidades específicas deben tener de nombre la funcionalidad que tienen, por ejemplo ‘guardar’, ‘borrar’, ‘modificar’, ‘editar’ o ‘cancelar’.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/GqjszmIQ9J0oyVzqi3azXz-LsTiIQCudNYhyFulSZHahAGz8F-eVlLiNaX8vhIscid2eZaecR4v39S2pmFibCX59uLRVavDdc53ev0-9DosS1DbkQHoMrvGw9PfM5wJSDsMA0CmT">
    <h3>
        FORMULARIOS:
    </h3>
    <p>
        Los formularios se denotan con la palabra ‘FORM’ seguida del nombre del formulario dentro de un rectángulo de línea continua.
        Al igual que en las vistas, estos elementos se deben conectar a una relación ‘tiene’ (como está expresado en la imagen, dentro de un óvalo de línea continua) que se conecta a un elemento ‘atributo’.
    </p>
    <img class="mx-auto d-block" src="https://lh3.googleusercontent.com/V9wzMpVwIpryCuZjSVxwTfVaxXm3gyDbyKqMIVB6njaE4x-YcFcc7DxkV-TZZqdf-25VzZnqiPT70LBHIp6CVm6KGC6NWpawj4MiSnqQKwhddFFq_5sipcPfYTygYaodUZmUrsxE">
    <h3>
        TABLAS:
    </h3>
    <p>
        Las tablas se deben denotar sólo con la palabra ‘TABLA’ dentro de un rectángulo de línea contínua. Esta se conecta por medio de una relación ‘tiene’ al contenido, este después se conecta directamente a un elemento ‘atributo’ para demostrar las columnas que puede tener la tabla.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/cmuoE3XlsZuYqUoTNB5DK4ElUGgtIithGFhwJoAzYOrBqDTdYpbYsxhDF7F7KM3VUpDWvhMxJ7TI7gfG24h5KzAfAnc1QBWW7RTdxw8YonAcDVL63c5XwC5wfI8BXYLEnsUMLzQr">
    <h3>
        ATRIBUTOS:
    </h3>
    <p>
        La forma de expresar que un concepto tiene atributos será un poco diferente al EP clásico, por ejemplo, se puede tener un formulario cuyos campos se denotan con un cuadrado de línea punteada (elemento ‘atributo’), cada campo debe respetar la siguiente sintaxis:
        Primero se agrega un asterisco (*), luego se escribe su nombre, dos puntos (:), el tipo de dato que puede ingresar y se debe terminar con un punto y coma (;).
        Estos campos pueden ser compartidos por conceptos en diferentes vistas.
    </p>
    <img class="mx-auto d-block" src="https://lh5.googleusercontent.com/eSFZU4T-Wey6Qo_Mv2CjR6kvwAKGoOiVwHSNUNDJKZ1-0P3Ya8LP97p8X01bbdU5DxeWmW3dhlKXprmK7XL5gsEh61kFeaoNt8kaQIbICZCARPML_F5b33MNcoNdXqv_UATPHx4W">
    <br>
    <p>
        Un ejemplo de un CRUD funcional con una sola entidad que tiene nombre, contraseña y teléfono, se vería así. En este ejemplo se puede evidenciar que se tienen 3 vistas, la vista Home, la vista leer y la vista modificar.
    </p>
    <img class="mx-auto d-block" src="https://lh4.googleusercontent.com/WmqzbMunbUZPer6uNpVD4VuRFnjp0YfZC9DsPeOaaKPk69Jj8-jHYxEooxPmwtKvEXoGQD4z7PHgm35yoaB_GAEZQ0cONeyd0jTXUfhToB2wcoPbYpPXCFaaTgbzFtMdcp7ZSHQP">
{% endblock %}