{% extends 'base.html' %}
{% block content %}
    <center>
        <h1>
            REGLAS
        </h1>
    </center>
    <h3>
        Primera regla.
    </h3>
    <p>
        En algunos conceptos similares se implementará algo parecido a una clase abstracta.
        Así es el formato:
    </p>
    <img src="https://lh3.googleusercontent.com/EZgwWc9ZLk0Z7qkUdbco1J-2Gy3uxWaTpkQQXu73GTZ6F8tSQKRLqFG4Zy77eTOZaIjYpHwTcGnky-FlbCNVltULpbEPupPHp-tLXIDIekry62ZUp8s0dK4QHtnRgyBFpxlbliaO">
    <p>
        La clase abstracta irá en un cuadro punteado (como las notas) y de ahí saldrá una línea hacia los conceptos similares.
        Esto no tiene implementación real en el código, sirve más como referencia para el modelo.
    </p>
    <h3>
        Segunda regla.
    </h3>
    <p>
        Por motivos de simplicidad, cuando haya algún evento, este se denotará con un óvalo punteado y se conectará a los conceptos implicados en el evento por medio de líneas punteadas. Es importante resaltar que importa el orden de las flechas.
    </p>
    <img src="https://lh3.googleusercontent.com/KonvGBN9_etX70DIlvaQbIF4IoKoiD4LZBtOTEwAn7qLjtwtaKyjNN-dGnhG22jyX16gWxHviipTA3CVbBPzRCKc2mtmOFuyU5XbWGj8OL9DraSOP1XwhwlNLfJ9wxs9Kj9RfOzm">
    <h3>
        Tercera regla.
    </h3>
    <p>
        La forma de expresar que un concepto tiene atributos será un poco modificada, nos ahorraremos el concepto que especifique atributo, en cambio iremos directamente  a la nota que los describe.
        Estos campos de atributos pueden ser compartidos por conceptos
    </p>
    <img src="https://lh6.googleusercontent.com/kM-Tq46QTJ8LKq4SKgvXMiFs-2mHLFPtC_cAYCcf-Dtds4PAktkC8IVOMAkDdumky_t6oFkIPd6oqd9Rz1MGZ9BvGdl3wERLoKNHXQ_g3YyTY_NjUhWreAw-KVALJZuyfIKCr0pv">
{% endblock %}