<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Teo.Co.Co</title>

  <!-- Bootstrap core CSS -->
  {% load bootstrap4 %}
 
   {# CSS Bootstrap #}
   {% bootstrap_css %}

</head>

<body>

  <!-- Navigation -->

  {% block content %}
  
  <h3>Lista de objetos en el XML</h3>
  <!-- Masthead -->
  {% for objeto in jsonList %}
  <div class="section">
      <table class="table table-condensed">
          {{objeto}}
      </table>
  </div>
{% endfor %}
{% endblock %}

  <!-- Bootstrap core JavaScript -->
  {% bootstrap_javascript jquery='full' %}
 
</body>

</html>
