
          {% extends 'base.html' %}
          {% block content %}
          <html>

          <div class="container">
          <h3>VISTA home</h3>
              <form action="crear" metod="post" id="formulario" nombre="formulario" >
<div class='form-group'>
<label for=nombreclass ='control-label'>nombre</label>
<input type="string" name="nombre" id="nombre"class='form-control'><br>
</div>
<div class='form-group'>
<label for=contrasenaclass ='control-label'>contrasena</label>
<input type="password" name="contrasena" id="contrasena"class='form-control'><br>
</div>
<div class='form-group'>
<label for=telefonoclass ='control-label'>telefono</label>
<input type="number" name="telefono" id="telefono"class='form-control'><br>
</div>
<input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'>
<button type='submit' class='btn btn-success'>guardar</button>
</form>
<a href='tablaCreada' class='btn btn-info'>lista</a>
 
          </div>
          </body>
          </html>
          {% endblock %}
          