
          {% extends 'base.html' %}
          {% block content %}
          <html>
          <div class="container">
          <head>VISTA home</head>
          
              <form action="mmmm" metod="post" id="formulario" nombre="formulario" >
nombre:<br>
<input type="string" name="nombre" id="nombre"><br>
contrasena:<br>
<input type="password" name="contrasena" id="contrasena"><br>
telefono:<br>
<input type="number" name="telefono" id="telefono"><br>
</form>
<button name="guardar">guardar</button>
<button name="lista">lista</button>
 
          </div>
          </body>
          </html>
          {% endblock %}
          