
          {% extends 'base.html' %}
          {% block content %}
          <html>

          <div class="container">
          <h3>VISTA home</h3>
              <form action="crear" metod="post" id="formulario" nombre="formulario" >
<div class='form-group'>
<label for=nombreclass ='control-label'>nombre</label>
<input type="string" name="nombre" id="nombre"class='form-control'><br>
</div>
<div class='form-group'>
<label for=contrasenaclass ='control-label'>contrasena</label>
<input type="password" name="contrasena" id="contrasena"class='form-control'><br>
</div>
<div class='form-group'>
<label for=telefonoclass ='control-label'>telefono</label>
<input type="number" name="telefono" id="telefono"class='form-control'><br>
</div>
<input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'>
<input type='hidden' class='form-control form-control-lg' value='{{listaObjetos}}' name='listaObjetos'>
<button type='submit' class='btn btn-success'>guardar</button>
</form>
<form method='POST' action='tablaCreada' enctype='multipart/form-data'>{% csrf_token %}<input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'><input type='hidden' class='form-control form-control-lg' value='{{listaObjetos}}' name='listaObjetos'><button type='submit' class='btn btn-info btn-lg btn-primary'>lista</button></form>
 
          </div>
          </body>
          </html>
          {% endblock %}
          