
          {% extends 'base.html' %}
          {% block content %}
          <html>
          <body>
          <div class="container">
          <h1>VISTA leer</h1>
          <table class="table">
          <thead>
          <tr> 
              <th scope='col'>nombre</th>
<th scope='col'>contrasena</th>
<th scope='col'>telefono</th>

              <th scope='col'> </th>
              <th scope='col'> </th>
          </tr> 
          </thead>
          <tbody>  
          {%if listaObjetos|length > 0 %}
          {%for obj in listaObjetos %}
          <tr>
          {%for cont in obj %}
          <td>{{cont}}</td>         
          {%endfor%}
          <td>
           <form method="POST" action="modificar" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'>
              <input type="hidden" class="form-control form-control-lg" value="{{listaObjetos}}" name="listaObjetos">
              <input type="hidden" class="form-control form-control-lg" value="{{obj}}" name="objeto">
              <button type="submit" class="btn btn-warning btn-lg btn-primary">modificar</button>
            </form>
          </td>
          <td>
           <form method="POST" action="eliminar" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'>
              <input type="hidden" class="form-control form-control-lg" value="{{listaObjetos}}" name="listaObjetos">
              <input type="hidden" class="form-control form-control-lg" value="{{obj}}" name="objeto">
              <button type="submit" class="btn btn-danger btn-lg btn-primary">eliminar</button>
            </form>
          </td>
          </tr>
          {%endfor%}
          {%endif%}
          </tbody> 
          </table>
          <form method="POST" action="formularioCreado" enctype="multipart/form-data">
              {% csrf_token %}
              <input type='hidden' class='form-control form-control-lg' value='{{datos}}' name='datos'>
              <input type="hidden" class="form-control form-control-lg" value="{{listaObjetos}}" name="listaObjetos">
              <button type="submit" class="btn btn-info btn-lg btn-primary">volver</button>
            </form>
          </div>
          </body>
          </html>
          {% endblock %}
          