root {
	--rojo: #E50914;
	--fondo: #141414;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.cuerpo {
	background:#141414;
	font-family: 'Open Sans', sans-serif;
}

footer{
	background:  #101010;
	color: #adadad;
    s-align: center;
}
.contenedor {
	width: 90%;
	margin: auto;
}
.textoprincipal{
	color:rgb(177, 177, 177)
}